[submodule "store.py"]
	path = store.py
	url = git@github.com:o4dev/store.py.git
	ignore = dirty
	branch = master
[submodule "store.js"]
	path = store.js
	url = git@github.com:o4dev/store.js.git
	ignore = dirty
	branch = master
